<!DOCTYPE html>
<html>
<head>
    <title>Create Flashcard</title>
</head>
<body>
    <h2>Create a New Flashcard</h2>
        <form method="post">
            <label>Deck:</label>
            <select name="deck" required>
                {% for deck in decks %}
                    <option value="{{ loop.index0 }}">{{ deck.name }}</option>
                {% endfor %}
            </select><br>
            <label>Question:</label><br>
            <input type="text" name="question" required><br>
            <label>Answer:</label><br>
            <input type="text" name="answer" required><br><br>
            <input type="submit" value="Create">
        </form>
    <a href="{{ url_for('flashcards.show_flashcards') }}">Back to Flashcards</a>
    {% include 'nav.html' %}
</body>
</html>